<h1> About Lost But Found </h1>

<p>
This is a site  aimed at helping people to find their lost documents.This site will also help to generate  income to smart entrepreneurs as they will register as agents to maximise the the objective of this site (recover all lost documents).
This site is there to help people of good will to return  any found documents to owners without any stress by registering them on this site
</p>