<div class="container">
<h1 align="center"> Listing all Items</h1>
<div align="center">
<%= will_paginate%>
</div>
<%= render 'products', obj:@products%>
<div align="center">
<%= will_paginate%>
</div>
</div>
